[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arrow = "*"
redis = "~=2.10.6"
celery = "*"
dj-database-url = "*"
django = "*"
gunicorn = "*"
iptools = "*"
open-humans-api = "*"
"psycopg2" = "*"
python-social-auth = "*"
pyyaml = "==4.2b4"
raven = "*"
requests = "*"
requests-oauthlib = "*"
vcrpy = "*"
whitenoise = "*"

[dev-packages]
pylint = "*"
pylint-django = "*"
"flake8" = "*"

[requires]
python_version = "3.9"
