[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]
amqp = "*"
arrow = "*"
celery = "*"
dj-database-url = "*"
django = "*"
gunicorn = "*"
"psycopg2" = "*"
requests = "*"
requests_oauthlib = "*"
whitenoise = "*"
python-social-auth = "*"


[dev-packages]
pylint = "*"


[requires]
python_version = "3.6"
