[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

amqp = "*"
arrow = "*"
celery = "*"
dj-database-url = "*"
django = "*"
gunicorn = "*"
"psycopg2" = "*"
requests = "*"
whitenoise = "*"


[dev-packages]



[requires]

python_version = "3.6"
