{% extends 'main/base.html' %}
{% load static %}
{% block content %}

  <div class="container">
    <h1>All set!</h1>
    <p class="lead">
      Thank you! We have your authorization from Nokia Health.
    </p>
    <p>{{ tokeninfo }}
    <p>
      This should have triggered a data transfer job that will start
      adding your Nokia Health data to your Open Humans account.
    </p>
    <p>
      Check this out here:
      <a href="{{ oh_proj_page }}">{{ oh_proj_page }}</a>
    </p>
  </div>

{% endblock %}
