{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<div class="container">
  <h1>One last step.</h1>
  <p class="lead">
    Thank you! We have your authorization from Open Humans.
  </p>
  <p>
    Click the button below to begin authorization with Nokia Health.
  </p>
  <p>
      {% if nokia_consumer_key %}
      <a
        class="btn btn-primary btn-lg"

        href="{{redirect_url}}"

        {% else %}

        class="btn btn-default disabled"

        {% endif %}
        >
        Start with Nokia Health authorization
      </a>

      {% if not nokia_consumer_key %}
      <p class="text-muted"><i>
        This button is disabled because nokia_consumer_key hasn't been configured.
      </i></p>
      {% endif %}
</div>

{% endblock %}
