{% extends 'main/base.html' %}
{% load static %}
{% block main %}


  <div class="jumbotron">
    <div class="container-fluid">
      <div class="row">
        <div class="col" style="text-align: center;">
          <img class="img-fluid oh-cnxn-icon" src="{% static 'img/withings-badge.svg' %}">
        </div>
        <div class="col-md-9 col-lg-10">
          <h1>Open&nbsp;Humans&nbsp;/ Withings&nbsp;API Connection</h1>
          <p>
            Withings devices and apps collect and store your health data such as activity, sleep, heartrate, and more. You can use this website to and store detailed data from your Withings account in your Open Humans account.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 offset-md-3 col-lg-10 offset-lg-2">
          <a href="https://www.openhumans.org/direct-sharing/projects/oauth2/authorize/?client_id={{ client_id }}&response_type=code" class="btn btn-primary">
            Log in via Open Humans
          </a>
        </div>
      </div>
    </div>
  </div>
  
  <p>
    <a href="http://withings.com/">Withings</a> (formerly Nokia Health) is a maker of connected devices & their corresponding apps which are designed to improve daily wellbeing and long-term health. They have various "smart" products such as scales, sleep trackers, watches, and more.
  </p>
  <p>
    Check out <a href="{{ oh_proj_page }}">this project's activity page</a>
    to see how notebooks, projects, and members are using & sharing this data.
    (Once connected, you can also find your data on this page!)
  </p>

  <p>
    This site is managed by
    <a href="https://www.openhumans.org">Open Humans</a> and follows the same
    <a href="https://www.openhumans.org/terms">terms of use</a>.
    Data stored in Open Humans is private by default: it's your personal archive
    and always available to you, and you choose when to share with others.
  </p>
  
{% endblock %}
